/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
    font-size: 16px;
    background-color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    /* text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212; /* Dark background */
    color: #E0E0E0; /* Light text */
    padding: 0; /* Remove padding to eliminate space around edges */
    margin: 0; /* Ensure there's no margin */
	overflow: hidden; /* Hide the main window scrollbar */
}

/* Title Bar */
#title-container {
    margin: 0;
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: space-between; /* Keeps items at the edges */
    width: 100%;
    padding: 0; /* Remove padding to allow buttons to move to the top right corner */
    -webkit-app-region: drag;
}

.header-container {
    display: flex;
    align-items: center; /* Vertically centers the items */
    gap: 5px; /* Adjust the space between the image and the text */
}

#button-container {
    display: flex;
    align-items: flex-start; /* Align buttons to the top */
    padding: 0; /* Remove padding to ensure buttons are at the very top */
    height: auto; /* Adjust height to fit the buttons */
}

#button-container button {
    color: #FFFFFF;
    border: none;
    -webkit-app-region: no-drag;
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    font-size: 12px;
    border-radius: 0;
    padding: 0; /* Adjust padding as needed */
}

#button-container button:hover {
	background-color: #333333;
}

#close-btn:hover {
    background-color: red !important;
}

#close-btn:hover {
    background-color: red;
}

#title-container img {
    height: 3em; /* Adjusts the image height to match the text size */
    vertical-align: middle;
    margin-right: 5px;
	margin-left: 5px;
}

/* Login and Main Container */
#login-container, #main-container, #admin-container {
    background-color: #242424; /* Dark shade */
    padding: 30px;
	padding-top: 10px;
    /* border-radius: 8px; */
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #333333; /* Subtle border */
    background-color: #333333; /* Darker element background */
    color: #FFFFFF;
}

.rounded-button {
    background-color: #007ACC; /* Accent color */
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    display: block; /* Ensure buttons are block level for full width */
}

.rounded-button:hover {
    background-color: #005EA6; /* Darker shade on hover */
}

.error-text {
    color: #FF9494; /* Light red for errors */
    margin-top: 10px;
}

/* Scroll Frames */
.scroll-frame {
    background-color: #1E1E1E; /* Slightly lighter dark shade for contrast */
    color: #FFFFFF;
    padding: 0px;
    margin-top: 15px;
    overflow-y: auto;
    height: 200px;
    border-radius: 5px;
	border: 1px solid #ccc; /* Optional: adds border */
}
#logs-frame {
	height: 150px;
}
#files-frame {
	height: 300px;

}

.line-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 8px 8px;
}
.file-info-container {
    display: grid;
    grid-template-columns: 1.5fr auto auto; /* Defines a 3-column layout */
    align-items: left; /* Aligns items vertically in the center */
    gap: 10px; /* Adjust the gap between grid items */
	width: 100%;
	vertical-align: middle;
	justify-content: space-between;
}

.file-name-path {
	white-space: pre-line;
    justify-self: start; /* Ensures file name and path align to the left */
	line-height: 0.7em;
	height: 3em;
	place-items: center;
}

.uploaded-time-container {
    display: grid; /* Enables grid layout */
    place-items: center; /* Centers items both horizontally and vertically */
    height: 100%; /* Adjust based on your needs, ensures the container takes full height */
}

.buttons-container {
    justify-self: end; /* Keeps the buttons aligned to the right */
    grid-column: 3; /* Keeps the buttons in the third column */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons-container button {
    margin-left: 10px; /* Maintains spacing between buttons */
}

.line-item:hover {
   background-color: #333333;
}

.line-item button {
	background-color: #007ACC; /* Accent color */
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	padding: 3px 40px 3px 40px;
    cursor: pointer;
}

.scroll-frame::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
    border-radius: 5px; /* Rounded corners for the thumb */
}

.scroll-frame::-webkit-scrollbar-track {
    background: #2E2E2E; /* Track color */
    border-radius: 5px; /* Rounded corners for the thumb */
}

.scroll-frame::-webkit-scrollbar-thumb {
    background: #555; /* Thumb color */
    border-radius: 5px; /* Rounded corners for the thumb */
}

.scroll-frame::-webkit-scrollbar-thumb:hover {
    background: #777; /* Thumb color on hover */
}

/* List Styles */
ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

/* Status and Logs Sections */
#status, #logs {
    margin-top: 20px;
}

/* Smaller Toggle Buttons */
.rounded-button.toggle-button {
    padding: 5px 10px; /* Smaller padding */
    /* font-size: 0.8rem; */
    margin-left: 10px; /* Space from the text */
}

/* Flex Container for Inline Alignment */
.status-header, .logs-header, .files-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Adjustments for smaller screens or to ensure the button does not wrap */
.status-header h2, .logs-header h2 {
    margin-right: 10px;
    white-space: nowrap; /* Prevent wrapping */
}

#select-path-btn, #selected-path {
    display: inline-block;
}

#set-relative-path-btn, #relative-path {
    display: inline-block;
}

.auto-update-container {
	display: flex;
	align-items: center;
	margin-top: 20px;
  }

  .auto-update-container input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background-color: #f0f0f0;
	border: 2px solid #d1d1d1;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
  }

  .auto-update-container input[type="checkbox"]:checked {
	background-color: #4CAF50;
	border-color: #4CAF50;
  }

  .auto-update-container input[type="checkbox"]:checked::after {
	content: '';
	position: absolute;
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
  }

  .auto-update-container label {
	margin-left: 10px;
	font-size: 16px;
	/* color: #333; */
	/* cursor: pointer; */
  }

  #toggle-panel-btn {
    -webkit-app-region: no-drag;
    position: relative;
    bottom: 5px; /* Keeps the button's upward position */
    height: 30px; /* Adjust this value to decrease the button's height */
    padding: 5px 10px; /* Adjust vertical padding to reduce space above and below the text */
    font-size: 14px; /* Optional: Adjust font size for better fit in the smaller button */
}