@import "tailwindcss";

@theme {
	--font-main: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';

	--color-primary: var(--color-blue-500);
	--color-primary-faded-dark: var(--color-sky-700);
	--color-primary-faded-light: var(--color-sky-600);
	--color-secondary: var(--color-amber-400);

	--color-dark1: var(--color-gray-900);
	--color-dark2: var(--color-gray-700);
	--color-dark3: var(--color-gray-600);
	--color-dark4: var(--color-gray-800);

	--color-light1: var(--color-slate-900);
	--color-light2: var(--color-slate-300);
	--color-light3: var(--color-slate-400);
	--color-light4: var(--color-slate-500);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
	.error-text {
		@apply dark:text-red-500 text-red-500;
	}
}

body {
  font-weight: 600;
  overflow: hidden;
  user-select: none;
}

.animate-gradient {
	background-size: 300%;
  	-webkit-animation: animatedgradient 6s ease infinite alternate;
  	-moz-animation: animatedgradient 6s ease infinite alternate;
  	animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@utility drag {
	-webkit-app-region: drag;
}

@utility no-drag {
	-webkit-app-region: no-drag;
}

/* For Webkit browsers (Chrome, Electron, Edge, Safari) */
::-webkit-scrollbar-track {
  background: transparent !important;
}

/* If you use a custom class for your dropdown scroll area: */
.dropdown .overflow-y-auto::-webkit-scrollbar-track {
  background: transparent !important;
}

/* For Firefox */
.dropdown .overflow-y-auto {
  scrollbar-color: var(--scrollbar-thumb, #888) transparent;
}
