@import "tailwindcss";

@theme {
	--font-family-main: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';

	--color-primary: #3b82f6;
	--color-secondary: oklch(55.8% 0.288 302.321);
	--color-dark1: #181818;
	--color-dark2: #242424;
}

.animate-gradient {
	background-size: 300%;
  	-webkit-animation: animatedgradient 6s ease infinite alternate;
  	-moz-animation: animatedgradient 6s ease infinite alternate;
  	animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@utility drag {
	-webkit-app-region: drag;
}

@utility no-drag {
	-webkit-app-region: no-drag;
}
